//colores #0f1d28 #614282 #a791bf #dccfeb #f1e7f9 #8367a1 #b4acba


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #f1e7f9;
}

header {
    background-color: #a791bf;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .contenedor-titulo {
        display: flex;
        justify-content: center;
        img {
            height: 50px;
            width: 230px;
            margin: 10px;
        } 
    }
    .carrito-icono {
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    .seguir-comprando {
        font-size: 32px;
        margin-right: 5px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.titulo-principal {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
}

.contenido-productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 25px;
    .card {
        text-align: center;
        background-color: #a791bf;
        border-radius: 5px;
        margin: 10px;
        width: 200px;
        img {
            height: 150px;
            width: 150px;
        }
        .nombre {
            font-size: 19px;
            font-weight: bold;
            margin-bottom: 7px;
        }
        .precio {
            font-size: 17px;
            margin-bottom: 7px;
        }   
    }
}

.agregar-carrito {
    background-color: #f1e7f9;
    color: #000;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: #8367a1;
    }
}

.contenido-carrito {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    background-color: #614282;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
    .nombre {
        font-style: italic;
        font-weight: bold;
        font-size: 19px;
    }
    .precio {
        font-size: 17px;
    }
    .carrito-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        background-color: #8367a1;
        height: fit-content;
        .carrito-header-button {
            cursor: pointer;
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
    .contenido-carrito::-webkit-scrollbar {
        display: none;
    }
    .carrito-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        .eliminar-productos {
            cursor: pointer;
            height: 30px;
            width: 30px;
        }
    }
    div img {
        height: 120px;
        width: 120px;
    }
    .contenido-total {
        background-color: #8367a1;
        font-size: 25px;
        padding: 20px;
        text-align: center;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button {
            background-color: #614282;
            border: 0;
            border-radius: 5px;
            margin-left: 25px;
            height: 30px;
            width: 150px;
            font-size: 17px;
            a {
                color: #000;
                text-decoration: none;
            }
            cursor: pointer;
            transition: .3s;
            &:hover {
                background-color: #f1e7f9;
            }
        }
    }
}


.contenido-compra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    .contenido-carrito-compra {
        width: 600px;
        .titulo-carrito {
            font-size: 32px;
        }
        .carrito-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            background-color: #a791bf;
            border-radius: 5px;
            margin: 15px 0;
            padding: 7px;
            font-size: 20px;
            img {
                height: 150px;
                width: 150px;
            }
        }
        .contenido-total {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            background-color: #a791bf;
            border-radius: 5px;
            margin: 15px 0;
            padding: 7px;
        }
    }
    .compra-content {
        width: 600px;
        h1 {
            margin-bottom: 12px;
        }
        .formulario {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            h2 {
                margin: 13px 0;
            }
            input {
                height: 40px;
                width: auto;
                padding-left: 8px;
                margin: 10px 0 20px 0;
                border-radius: 5px;
                border: 1px solid #b4acba;
                transition: .15s;
                &:focus {
                    outline: none;
                    border: 1px solid #a791bf;
                    box-shadow: 0 0 10px 1px #a791bf;
                }
            }
            .input-error {
                border: 1px solid #c50101;
            }
            button {
                text-align: center;
                background-color: #a791bf;
                color: #000;
                border-radius: 5px;
                border: 0;
                padding: 7px;
                width: auto;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    background-color: #614282;
                }
            }
        }
    }
    .contenido-final {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #bfabd5;
        width: 600px;
        p {
            font-size: 32px;
            margin: 10px 0;
        }
        button {
            text-align: center;
            background-color: #a791bf;
            color: #000;
            text-decoration: none;
            border-radius: 5px;
            border: 0;
            padding: 7px;
            margin: 10px 0;
            width: auto;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: .3s;
            &:hover {
                background-color: #614282;
            }
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 1300px) {
    .contenido-compra {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        .seguir-comprando {
            font-size: 27px;
            margin: 0;
        }
    }
    .contenido-compra {
        .contenido-carrito-compra {
            width: auto;
            .carrito-content {
                flex-direction: column;
                .nombre {
                    margin: 10px 0;
                }
            }
        }
        .compra-content {
            width: 300px;
        }
        .contenido-final {
            width: auto;
            padding: 0 25px;
        }
    }
}

@media (max-widht: 500px) {
    .contenido-productos {
        margin: 10px 7px; 
    }
}